BootShim/BootShim.bin
ImageResources/Tools/*.bin
ImageResources/Tools/*.nbh
ImageResources/Tools/*.nb
ImageResources/Tools/*.bin
ImageResources/Tools/nbgen
ImageResources/uefi.img
ImageResources/LEOIMG.nbh
workspace/Build/
.vscode/*
